@import "parts/_style-header";

/************************************/
/************ RESET *****************/
/************************************/
@import "parts/_reset";

/************************************/
/********** NORMALIZE ***************/
/************************************/
@import "parts/_normalize";

/************************************/
/********** DEFAULT COLMEIA ***************/
/************************************/
@import "parts/_default-colmeia";

/************************************/
/********* ICARE STYLES *************/
/************************************/
@import "icare-styles/_variables";
@import "icare-styles/_buttons";
@import "icare-styles/_components";
@import "icare-styles/_forms";
@import "icare-styles/_grid";
@import "icare-styles/_pages";
@import "icare-styles/_sections";
@import "icare-styles/_structure";
@import "icare-styles/_themes";
@import "icare-styles/_typography";

/************************************/
/********* MOBILE FIRST *************/
/************************************/
#navbar {
    a:focus,
    a:hover,
    a:active {
        color: $color-default-green;
    }
}
.logo,
.logo-blog,
.logo-pages {
    width: 125px;
    padding-top: 25px !important;
}
.com-title {
    font-family: sans-serif;
    font-size: 3rem;
}
.scrolling {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: $color-white-opc-95 !important;
    box-shadow: $color-black-opc-20 1px 0px 5px !important;
    transition: 0.3s all ease-in-out;
    padding: 0.1rem 2rem 2.5rem;
    a {
        color: $color-gray-70 !important;
    }
    a:focus,
    a:hover,
    a:active {
        color: $color-default-green !important;
    }
    .logo,
    .logo-blog,
    .logo-pages {
        width: 100px;
        padding-top: 25px !important;
    }
}

#acting {
    background-color: $default-color;
}

@media (max-width: 578px) {
    .arrows-left {
        li {
            margin-left: 5vw;
            margin-right: 5vw;
        }
        & li:last-child::before {
            left: 5rem;
        }
        & li:last-child::before {
            right: 5rem;
        }
    }
    .arrows-right {
        li {
            margin-left: 5vw;
            margin-right: 5vw;
        }
        & li:first-child::before {
            left: 5rem;
        }
        & li:first-child::before {
            right: 5rem;
        }
    }
}

@media (max-width: 1024px) {
    //Menu
    #navbar {
        transition: 0.3s all ease-in-out;
        background-color: transparent;
        z-index: 1000;
        display: flex;
        border-bottom: none;
        a {
            color: $color-gray-70;
        }
    }

    @media screen and (max-width: 867px) and (min-width: 610px) {
        .ica-sec.sec-numbers .sec-content {
            padding: 0 10rem;
        }
    }
    @media screen and (max-width: 700px) and (min-width: 610px) {
        .ica-sec.sec-numbers .sec-content {
            padding: 0 8rem;
        }
    }
    @media screen and (max-width: 1323px) and (min-width: 787px) {
        .ica-sec.sec-partners .sec-itens {
            padding: 0 8rem;
        }
    }
    @media screen and (max-width: 1423px) and (min-width: 1062px) {
        .ica-sec.sec-partners .sec-itens {
            padding: 0 18rem;
        }
    }
    @media screen and (max-width: 891px) and (min-width: 301px) {
        .ica-sec.sec-notice .item-media {
            width: 100%;
        }
    }
    @media screen and (max-width: 1023px) and (min-width: 619px) {
        .ica-sec.sec-notice .sec-itens {
            padding: 0 18rem;
        }
    }

    /* O que fazemos? */
    .sec-arrows {
        display: block;
    }

    .arrows-left {
        position: relative;
        z-index: 2;
        margin-bottom: 100px;
        & li:last-child::before {
            position: absolute;
            z-index: 1;
            width: 39.5%;
            height: 20%;
            bottom: 0;
            left: 10vw;
            margin-bottom: -50px;
            content: "";
            transform: skewY(15deg);
            margin-top: -25px;
            background: $color-default-green;
        }
        & li:last-child::after {
            position: absolute;
            z-index: 1;
            width: 39.5%;
            height: 20%;
            bottom: 0;
            right: 10vw;
            margin-bottom: -50px;
            content: "";
            transform: skewY(-15deg);
            margin-top: -25px;
            background: $color-default-green;
        }
        li {
            background: $color-default-green;

            h3 {
                position: relative;
                z-index: 5;
                color: $color-white;
            }
        }
    }
    .arrows-right {
        position: relative;
        z-index: 2;
        margin-top: 120px;
        & li:first-child::before {
            position: absolute;
            z-index: 1;
            width: 39.5%;
            height: 20%;
            top: 0;
            left: 10vw;
            margin-top: -50px;
            content: "";
            transform: skewY(15deg);
            background: $default-color;
            border-top: 2px solid $color-default-green;
            border-left: 2px solid $color-default-green;
        }
        & li:first-child::after {
            position: absolute;
            z-index: 1;
            width: 39.5%;
            height: 20%;
            top: 0;
            right: 10vw;
            margin-bottom: -50px;
            content: "";
            transform: skewY(-15deg);
            margin-top: -50px;
            background: $default-color;
            border-top: 2px solid $color-default-green;
            border-right: 2px solid $color-default-green;
        }
        li {
            border: 2px solid $color-default-green;
            h3,
            p {
                z-index: 5;
                color: $color-default-green;
            }
            p {
                font-size: 1.5rem;
            }
            .arrow-container {
                z-index: 5;
                padding-left: 10vw;
                padding-right: 10vw;
                p,
                h3,
                .icon {
                    position: relative;
                    z-index: 5;
                }
            }
        }
    }
    .arrows-left,
    .arrows-right {
        position: relative;
        li {
            text-align: center;
            padding: 2rem;
            margin-left: 10vw;
            margin-right: 10vw;
            .icon {
                margin-left: auto;
                margin-right: auto;
                width: 70px;
            }
            h3 {
                font-size: 2rem;
            }
        }
    }
}
@media screen and (max-width: 1024px) and (min-width: 450px) {
    .ica-sec.sec-aboutus .ica-wrapper .sec-content .content-item .item-services .service {
        height: 13em;
        width: 13em;
    }
    .ica-sec.sec-aboutus .ica-wrapper .sec-content .content-item .item-description {
        padding: 0 1.3rem;
    }
}
@media (max-width: 1407px) {
    .ica-sec.sec-aboutus .ica-wrapper .sec-content .content-complement {
        justify-content: center;
        text-align: center;
        max-width: 680px;
    }
}
/************************************/
/********* DESKTOP STYLE ************/
/************************************/

@media (min-width: 1025px) {
    //Menu blog
    .ica-blog,
    .ica-pages {
        z-index: 1000;
    }
    .navbar-white {
        background-color: $color-white;
        padding-bottom: 2.5rem;
    }
    //Navbar
    nav #menu-menu-principal {
        position: relative;
        display: flex;
        justify-content: end;
        list-style: none;
        background: transparent;
        color: $color-white;
        margin-top: 1.5rem;
        & > li {
            padding-left: 2rem;
        }
        nav #menu-menu-principal .navigation-list {
            margin-top: 1rem;
        }
    }
    #navbar {
        a {
            color: $color-white;
        }
    }
    //Menu dropdown

    header .navigation-list {
        li {
            position: relative;

            .sub-menu {
                display: none;
                transition: 0.3s all ease-in-out;
                position: absolute;
                top: 100%;
                left: -10%;
                margin: 0;
                padding: 0.5rem;
                list-style-type: none;
                background: $color-white;
                border-radius: 2px;
                box-shadow: 2px 2px 10px $color-black-opc-20;
                min-width: 250px;
                width: fit-content;
                z-index: 5000;

                .navigation-item {
                    display: flex;
                    margin-bottom: 1rem;
                }

                a {
                    color: $color-gray-222 !important;
                    text-align: left;
                    font-size: 1.65rem;
                    line-height: 2rem;

                    &:hover {
                        color: $color-default-green !important;
                    }
                }
            }
        }

        & > .menu-item-has-children:hover .sub-menu {
            display: block !important;
            transition: 0.3s all ease-in-out;

            &.navigation-item {
                margin-top: 0;
            }
        }
    }

    /* O que fazemos? */

    //Setas

    //Arrows on the right
    %clearfix {
        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .sec-arrows {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        height: $height;
        .arrows-left {
            width: 25%;
        }
        .arrows-right {
            width: 75%;
        }
    }

    // Setas da esquerda
    .arrows-left {
        @extend %clearfix;
        text-align: center;
        position: relative;
        list-style: none;
        height: $height2;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        li {
            width: $height - 30px;
            background: $color-default-green;
            z-index: 2;
            float: left;
            color: $text-color;
            position: relative;
            height: calc(416px / 3);

            &::before,
            &::after {
                background: $default-color;
                display: block;
                position: relative;
                height: $height / 3;
                width: calc(100% - 30px);
            }

            &::before,
            &::after {
                background-color: $color-default-green;
            }

            .arrow-container {
                display: flex;
                align-items: center;
                justify-content: start;
                z-index: 3;
                padding: 2rem;

                .icon {
                    margin-right: 20px;
                    width: 73px;
                    z-index: 5;
                }

                h3 {
                    z-index: 5;
                    margin-top: 0px;
                    margin-right: -50px;
                    font-size: 1.1em;
                    color: $default-color;
                }
                p {
                    margin-top: 0;
                    font-size: 1.25em;
                    line-height: 1.2;
                }

                &::before {
                    position: absolute;
                    content: "";
                    right: 0;
                    width: 50px;
                    height: $height2;
                    top: 0;
                    margin-top: -5px;
                    background-color: $default-color;
                    z-index: 5;
                    display: none;
                }
            }

            &:first-child {
                &::before,
                &::after {
                    width: 86%;
                    left: 30px;
                    border-right: none;
                }

                .arrow-container::before {
                    position: absolute;
                    content: "";
                    z-index: 3;
                    width: 100px;
                    height: $height2 / 3;
                    transform: skewX(25deg);
                    display: block;
                    right: -60px;
                    top: 0;
                    background: $default-color;
                }
            }

            &:nth-child(2) {
                &::before,
                &::after {
                    border-right: none;
                    background: $color-default-green;
                    position: absolute;
                    content: "";
                    z-index: 2;
                    width: 100px;
                    height: 120px;
                    display: block;
                    right: -30px;
                    top: 0;
                }
                .arrow-container::before {
                    position: absolute;
                    content: "";
                    z-index: 3;
                    width: 100px;
                    height: $height2 / 3;
                    transform: skewX(25deg);
                    display: block;
                    right: -120px;
                    top: 0;
                    background: $default-color;
                }
                .arrow-container::after {
                    position: absolute;
                    content: "";
                    z-index: 3;
                    width: 100px;
                    height: $height2 / 3;
                    transform: skewX(-25deg);
                    display: block;
                    right: -123px;
                    bottom: -3px;
                    background: $default-color;
                }
            }

            &:last-child {
                &::before,
                &::after {
                    width: 86%;
                    left: 30px;
                    border-right: none;
                }

                .arrow-container::before {
                    position: absolute;
                    content: "";
                    z-index: 3;
                    width: 100px;
                    height: $height2 / 3;
                    transform: skewX(-25deg);
                    display: block;
                    right: -60px;
                    top: 0;
                    background: $default-color;
                }
            }

            &::before,
            &::after,
            .arrow-container::before,
            .arrow-container::after {
                transition: 0.4s ease;
            }
        }
    }

    // Setas da direita
    .arrows-right {
        @extend %clearfix;
        list-style: none;
        padding: 0;
        text-align: center;

        li {
            float: left;
            width: calc(100% / 3);
            color: $text-color;
            position: relative;
            height: $height;
            line-height: $height;

            &::before,
            &::after {
                background: $default-color;
                content: "";
                display: block;
                position: absolute;
                right: 0;
                height: $height / 2;
                width: calc(100% - 30px);
                z-index: 2;
                border-right: $arrow-size solid $color-default-green;
                border-left: $arrow-size solid $color-default-green;
            }

            &::before {
                transform: skew(25deg);
                top: 0;
                border-top: $arrow-size solid $color-default-green;
            }

            &::after {
                transform: skew(-25deg);
                bottom: 0;
                border-bottom: $arrow-size solid $color-default-green;
            }

            .arrow-container {
                display: block;
                height: 100%;
                position: relative;
                z-index: 4;
                padding: 7rem 5rem 7rem 10rem;

                .icon {
                    margin-left: auto;
                    margin-right: auto;
                    width: 78px;
                }

                h3,
                p {
                    position: relative;
                    z-index: 5;
                }
                h3 {
                    margin-top: 2px;
                    font-size: 2.25rem;
                }
                p {
                    margin-top: 0;
                    font-size: 1.25em;
                    line-height: 1.2;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: $height;
                    height: 100%;
                    top: 0;
                    background-color: $default-color;
                    display: none;
                }
            }

            &:last-child {
                &::before,
                &::after {
                    width: 86%;
                    left: 30px;
                    border-right: none;
                }

                .arrow-container::before {
                    position: absolute;
                    z-index: 3;
                    width: 100%;
                    display: block;
                    right: 0;
                    top: 0;
                    background: transparent;
                    border-top: 2px solid $color-default-green;
                    border-bottom: 2px solid $color-default-green;
                    border-right: 2px solid $color-default-green;
                    border-top-right-radius: $height / 100;
                    border-bottom-right-radius: $height / 100;
                }
            }

            &::before,
            &::after,
            .arrow-container::before,
            .arrow-container::after {
                transition: 0.4s ease;
            }
        }
    }

    //Footer Menu
    .nav-footer {
        display: flex;
        justify-content: center;
        font-size: 1rem;
    }
    .nav-footer-item {
        margin-left: 2rem;
        border-right: 1px solid $color-default-green;
        width: auto;
        padding: 0 1rem;
        margin: 1.6rem 0;
        &:last-child {
            border-right: none;
        }
    }

    //Header slider blog
    .blog-content {
        .ica-com.com-carousel {
            height: 400px;
        }
    }
    .swiper-slide-img {
        max-width: 1770px;
        height: 350px;
        overflow: hidden;
        margin-top: 50px;
        position: relative;
    }
    .blog-content .swiper-slide-img {
        margin-top: 41px;
    }
    #blog {
        text-align: left;
    }
    .pagination {
        display: flex;
        justify-content: center;
        .page-numbers {
            font-size: 2rem;
            text-align: center;
            padding: 1rem 1.6rem;
            border: 1px solid $color-default-green;
            border-radius: 50%;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            background-color: $color-white;
            color: $color-default-green;
            &.current, &:hover {
                background-color: $color-default-green;
                color: $color-white;
            }
            &.prev,
            &.next {
                border: none;
            }
        }
    }
    #breadcrumb {
        background-color: $default-color;
        padding: 2.5rem;
        font-family: sans-serif;
        z-index: 999;
        position: relative;
    }
    .breadcrumb {
        font-size: 1.85rem;
        list-style: none;
        color: $color-gray-70;
        max-width: 1770px;
    }
    .itens-breadcrumb {
        text-align: right;
    }
    .breadcrumb-item {
        color: $color-gray-70;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .breadcrumb a {
        color: $color-default-green;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-decoration: none;
    }
} //end media query
