/*
//////////////
////BUTTONS//
////////////
*/

#ica li .ica-but,
#ica span .ica-but,
#ica .ica-but span {
	font-size: 1em;
	margin-top: 0;
}
#ica .ica-but * {
	color: inherit;
}
.ica-but {
	font-family: "Montserrat", sans-serif;
	display: inline-block;
	padding: 0.8rem 2.4rem;
	margin-top: 1.6rem;
	font-size: 1.6em;
	line-height: 150%;
	text-decoration: none;
	color: $color-green-8a9;
	background-color: $color-green-8a9;
	border: 2px $color-green-8a9 solid;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-align: center;
	border-radius: 10rem;
}
.ica-but:hover,
.ica-but:focus,
a:hover .ica-but,
a:focus .ica-but {
	background-color: $color-gray-222;
	border-color: $color-white;
	color: $color-white;
	text-decoration: none;
}
.ica-but[disabled] {
	background-color: $color-gray-222;
	border-color: $color-gray-222;
}
.ica-but + .ica-but {
	margin-left: 1.6rem;
}
.ica-but.but-light {
	background: transparent;
	color: $color-white;
}
.ica-but.but-light:hover {
	color: $color-white;
	background-color: $color-green-8a9;
}
.ica-but.but-conversion{
	color: $color-white;
	background-color: $color-default-green;
	border-color: $color-default-green;
}
