/*
//////////////
////INSPECT//
////////////
*/

*,
*:before,
*:after {
	box-shadow: inset 0 0 0 1px $color-black;
	background-color: $color-white-opc-60;
}
article,
aside,
div,
footer,
header,
hgroup,
nav,
section {
	box-shadow: inset 0 0 0 1px $color-blue;
	background-color: $color-white-opc-20;
}
