.ica-sec.sec-notice {
	background-color: $color-gray-e8e;
	.sec-content {
		display: flex;
		justify-content: space-around;
		text-align: center;
		align-items: center;
	}
	.item-media {
		.media-title {
			position: absolute;
			top: 45%;
			right: 10px;
			left: 10px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			margin: 0 auto;
		}
	}
	.sec-itens {
		display: flex;
		text-align: center;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		@media all and (max-width: 576px) {  
			display: block;
		}
		.item-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 28%;
			min-width: 28em;
			margin: 1.6rem;
			background-color: $color-white-opc-20;
			border-radius: 1rem;
			@media all and (max-width: 576px) { 
				max-width: 85%;
				width: 85%;
				margin: 0 auto;
				margin-bottom: 15px;
			}
			img {
				border-radius: 4rem;
				filter: brightness(0.6);
				transition: all 0.3s ease-in-out 0s;
			}
			.item-media {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				margin: 0 auto;
			}
			.media-footer {
				padding-bottom: 1.6rem;
			}
			&:hover {
					img {
							filter: brightness(1);
					}
				}
		}
	}
}