/*
////////////
////PAGES//
//////////
*/

.img-pages {
    position: relative;
    height: 35vh;
    z-index: 50;
    .img-pages-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-black-opc-30;
        z-index: 100;
    }
    .img-pages-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        z-index: 150;
        .img-pages-content-title {
            color: $color-white;
            &:before {
                background: $color-white;
                content: "";
                display: inline-block;
                width: 50px;
                margin: 0 .5em 0 -50px;
                vertical-align: middle;
                border-bottom: 1px solid;
            }
            &:after {
                background: $color-white;
                content: "";
                display: inline-block;
                width: 50px;
                margin: 0 -50px 0 .5em;
                vertical-align: middle;
                border-bottom: 1px solid;
            }
        }
    }
}

.order-reverse {
    span {
        display: inline-block;
        white-space: normal;
    }
}
.order-reverse .left {
    float: left;
}
.order-reverse .right {
    float: right;
}

.oval {
    img {
        width: 100%;
        height: auto;
    }
}
span {
    padding: 2rem;
    display: inline-block;
}
