/*
////////////
////PAGES//
//////////
*/

.img-pages{
    position: relative;
    height: 35vh;
    .img-pages-content{
        position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
        .img-pages-content-title{
            color: $color-white;
            &:before {
                background: #fff;
                content: "";
                display: inline-block;
                width: 50px;
                margin: 0 .5em 0 -50px;
                vertical-align: middle;
                border-bottom: 1px solid;
            }
             &:after {
                background: #fff;
                content: "";
                display: inline-block;
                width: 50px;
                margin: 0 -50px 0 .5em;
                vertical-align: middle;
                border-bottom: 1px solid;
            }
        }
    }
}