/*
////////////
////PAGES//
//////////
*/

.img-pages{
    position: relative;
    height: 35vh;
    .img-pages-content{
        position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
        .img-pages-content-title{
            color: $color-white;
        }
    }
}