.ica-sec.sec-partners {
	background-color: $color-white;
	.ica-wrapper {
		padding: 4rem 0;
	}
	.sec-content {
		display: flex;
		justify-content: space-around;
		text-align: center;
		align-items: center;
	}
	.sec-itens {
		display: flex;
		text-align: center;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 1.6rem;
	}
	.item-media {
		margin: 3rem;
		width: 17em;
	}
}