/*
///////////////
////SECTIONS//
/////////////
*/
.ica-sec {
	position: relative;
	padding: 1.6rem 0;
	.sec-header {
		display: flex;
		justify-content: center;
		.sec-title {
			text-align: center;
			border-radius: 5rem;
			text-align: center;
			align-items: center;
			display: inline;
			padding: 1.8rem 3rem;
			position: absolute;
			top: -6rem;
			z-index: 900;
			&.ica-the {
				font-size: 1.8em;
			}
		}
		.sec-item {
			margin-top: 2.4rem;
			text-align: center;
		}
	}
}
.ica-sec {
	.sec-content {
		padding-top: 2.4rem;
	}
}
.ica-sec.sec-infos {
	.sec-header {
		text-align: left;
	}
	.sec-content {
		display: flex;
		text-align: left;
		flex-wrap: wrap;
		.content-media {
			img {
				height: 100%;
			}
			@media all and (max-width: 768px) { 
				width: 100%;
			}
		}
		.content-description { 
			p {
				margin: 0 auto;
			}
			@media all and (max-width: 768px) { 
				width: 100%;
				margin-top: 20px;
			}
		}
	}
}
.ica-sec.sec-erro{
	height: 100vh;
	display: flex;
	text-align: center;
	.sec-wrapper{
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;
		
		h1{
			font-size: 16em;
			margin: 0;
		}
		h2{
			font-size: 6em;
			text-transform: none;
			margin-top: 0;
		}
		p{
			font-size: 2.4em;
		}
		a{
			margin-top: 5rem;
		}
	}
}
