.ica-sec.sec-services {
	padding-bottom: 8rem;
	.item-service {
		// border: 1px solid $color-default-green;
		margin-top: 1.5%;
	  padding: 3rem;
    width: 30%;
    min-height: 230px;
    display: inline-grid;
		@media all and (max-width: 768px) { 
			width: 100%;
			min-height: auto;
		}

		h4 {
			margin-top: 0;
		}
		img {
			padding-top: 1.5rem;
		}
	}
}