.sec-notice{
    .single-notice{
        text-align: center;
        width: 97%;
        padding: 0 1.5%;
        .notice-content{
            text-align: left;
            img {
                width: 100%;
                height: auto;
                max-width: 100%;
            }
        } 
        .pagination { 
            width: 100%;
            margin: 20px 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, auto));
            gap: 20px;
            justify-content: space-between;
            a {
                color:  $color-white;
                background-color: $color-default-green;
                border-color: $color-default-green;
                font-size: 1em;
                font-weight: 800;
                font-family: "Montserrat", sans-serif;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.8rem 2.4rem;
                margin-top: 1rem;
                line-height: 150%;
                text-decoration: none;
                letter-spacing: 0.1em;
                text-align: center;
                border-radius: 10rem;
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: all ease-in-out .2s;
                transition: all ease-in-out .2s;
                &:hover {
                    background-color: $color-gray-222;
                    border-color: $color-gray-222;
                    color: $color-white;
                    text-decoration: none;
                    cursor: pointer;
                    transform: scale(1.1);
                    transition: all ease-in-out .2s;
                }
            }
        }
    }
}
