/*
////////////////
////STRUCTURE//
//////////////
*/

@media all and (min-width: 1024px) {
	*,
	*:before,
	*:after {
		transition: all cubic-bezier(0, 0.67, 0.33, 1) 300ms;
	}
}
[hidden] {
	display: block;
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
img {
	max-width: 100%;
}
hr {
	display: none;
}
#clu {
	text-align: center;
}
.clu-wrapper {
	text-align: left;
	max-width: 1440px;
	padding: 2.4rem;
}
.clu-line {
	height: 1px;
	border: none;
	display: block;
	margin-top: 2.4rem;
	margin-bottom: 2.4rem;
	background-color: $color-gray-555;
}
#clu,
body {
	background-color: $color-gray-eee;
	scroll-behavior: smooth;
	text-align: center;
	font-size: 10px;
}
@media all and (max-width: 1024px) {
	#clu {
		font-size: calc(8px + 3 * ((100vw - 240px) / (1024 - 240)));
	}
	body {
		font-size: calc(7px + 2 * ((100vw - 240px) / (1024 - 240)));
	}
}
#clu-header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	background-color: $color-white;
}

#clu-logo h1 {
	line-height: 100%;
	font-size: 2.4rem;
	margin-top: 0;
}

.clu-navigation .navigation-item {
	display: inline-block;
	margin-right: 1.6rem;
	margin-left: 1.6rem;
	font-size: 1.4em;
}
.clu-navigation .navigation-item:first-child {
	margin-left: 0;
}
.clu-navigation .navigation-item:last-child {
	margin-right: 0;
}
#clu-navigation {
	margin-top: 1.2rem;
}
#clu-navigation .navigation-item {
	margin-right: 2.4rem;
	margin-left: 2.4rem;
}
#clu-shortcuts {
	text-align: right;
}
#clu-shortcuts .navigation-item {
	margin-right: 0.8rem;
	margin-left: 0.8rem;
}
@media all and (max-width: 1024px) {
	#clu-shortcuts {
		display: none;
	}
	#clu-navigation {
		display: none;
		font-size: 2em;
	}
	#clu-navigation + .clu-com.com-jumper.jumper-navigation {
		visibility: visible;
	}
	#clu-navigation:target {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: auto;
		margin: 0;
		z-index: 100;
		background-color: $color-white;
	}
	#clu-navigation:target .navigation-list {
		position: absolute;
		width: 100%;
		display: block;
		text-align: center;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		margin: 0;
	}
	#clu-navigation:target .navigation-item {
		display: block;
		margin-left: 0;
		margin-right: 0;
	}
	#clu-navigation:target .navigation-item a {
		display: block;
	}
	#clu-navigation ~ .clu-com.com-jumper.jumper-navigation {
		display: block;
	}
	#clu-navigation:target ~ .clu-com.com-jumper.jumper-top {
		display: block;
		z-index: 100;
	}
}
#clu-content {
	margin-top: 12rem;
}
#clu-footer {
	background-color: $color-gray-222;
}
#clu-footer a:hover {
	color: $color-orange;
}
#clu-footer .footer-item dt {
	color: $color-orange;
}
#clu-footer .footer-item {
	vertical-align: top;
	margin-top: 2.4rem;
}
