/*
////////////////
////STRUCTURE//
//////////////
*/

@media all and (min-width: 1024px) {
	*,
	*:before,
	*:after {
		transition: all cubic-bezier(0, 0.67, 0.33, 1) 300ms;
	}
}
[hidden] {
	display: block;
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
img {
	max-width: 100%;
}
hr {
	display: none;
}
#ica {
	text-align: center;
}
.ica-wrapper {
	text-align: left;
	max-width: 1440px;
	padding: 2.4rem;
}
.ica-line {
	height: 1px;
	border: none;
	display: block;
	margin-top: 2.4rem;
	margin-bottom: 2.4rem;
	background-color: $color-gray-555;
}
#ica,
body {
	background-color: $color-gray-e8e;
	scroll-behavior: smooth;
	text-align: center;
	font-size: 10px;
}
@media all and (max-width: 1024px) {
	#ica {
		font-size: calc(8px + 3 * ((100vw - 240px) / (1024 - 240)));
	}
	body {
		font-size: calc(7px + 2 * ((100vw - 240px) / (1024 - 240)));
	}
}
.ica-header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	background-color: transparent;
	display: flex;
	justify-content: center;
}
.ica-header2 {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	background-color: red;
}
#ica-header .ica-wrapper{
	display: flex;
	justify-content: space-between;
	text-align: end;
	align-items: center;
	max-width: 100%;
}
#ica-logo h1 {
	line-height: 100%;
	font-size: 2.4rem;
	margin-top: 0;
}

.ica-navigation .navigation-item {
	display: inline-block;
	margin-right: 1.6rem;
	margin-left: 1.6rem;
	font-size: 1.8em;
}
.ica-navigation .navigation-item:first-child {
	margin-left: 0;
}
.ica-navigation .navigation-item:last-child {
	margin-right: 0;
}
#ica-navigation {
	margin-top: 1.2rem;
}
#ica-navigation .navigation-item {
	margin-right: 1.4rem;
	margin-left: 1.4rem;
}
#ica-shortcuts {
	text-align: right;
}
#ica-shortcuts .navigation-item {
	margin-right: 0.8rem;
	margin-left: 0.8rem;
}
@media all and (max-width: 1024px) {
	#ica-shortcuts {
		display: none;
	}
	#ica-navigation {
		display: none;
		font-size: 2em;
	}
	#ica-navigation + .ica-com.com-jumper.jumper-navigation {
		visibility: visible;
	}
	#ica-navigation:target {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: auto;
		margin: 0;
		z-index: 100;
		background-color: $color-white;
	}
	#ica-navigation:target .navigation-list {
		position: absolute;
		width: 100%;
		display: block;
		text-align: center;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		margin: 0;
	}
	#ica-navigation .navigation-list {
		text-align: end;
	}
	#ica-navigation:target .navigation-item {
		display: block;
		margin-left: 0;
		margin-right: 0;
	}
	#ica-navigation:target .navigation-item a {
		display: block;
	}
	#ica-navigation ~ .ica-com.com-jumper.jumper-navigation {
		display: block;
	}
	#ica-navigation:target ~ .ica-com.com-jumper.jumper-top {
		display: block;
		z-index: 100;
	}
}
#ica-content {
	margin-top: 12rem;
}
#ica-footer {
	background-color: $color-gray-222;
}
#ica-footer a:hover {
	color: $color-orange;
}
#ica-footer .footer-item dt {
	color: $color-orange;
}
#ica-footer .footer-item {
	vertical-align: top;
	margin-top: 2.4rem;
}
