.ica-sec.sec-equipe {
	.sec-description {
		text-align: left;
		strong {
			color: $color-gray-555;
		}
	}
	.sec-members {
		display: grid;
		gap: 50px;
		grid-template-columns: repeat(2, 1fr);
		margin: 0 auto;
		margin-top: 4rem;
		width: 100%;
		.member {
			border-radius: 10rem;
			display: flex;
			padding: 1.6rem;
			text-align: left;
			margin-bottom: 3.2rem;
			width: 97%;
			.member-media {
				justify-content: left;
				margin: 0;
				width: 170px;
				height: 170px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 100px;
				img {
				  border-radius: 100px;
					width: 100%;
					height: 170px;
					object-fit: cover;
				}
			}
			.member-description {
				margin: 0 2rem;
				text-align: left;
				word-wrap: break-word;
				width: calc(100% - 170px - 4rem);
				.member-name {
					text-transform: none;
				}
			}
			.member-function {
				font-weight: bold;
				margin-top: 0px;
			}
		}
		@media all and (max-width: 1025px) { 
			grid-template-columns: repeat(1, 1fr);
			gap: 0;
		 }

	}
}