.ica-sec.sec-equipe {
	.sec-description {
		text-align: left;
		strong {
			color: $color-gray-555;
		}
	}
	.sec-members {
		display: grid;
		gap: 50px;
		grid-template-columns: repeat(2, 1fr);
		margin: 0 auto;
		margin-top: 4rem;
		width: 100%;
		.member {
			border-radius: 10rem;
			display: flex;
			padding: 1.6rem;
			text-align: left;
			margin-bottom: 3.2rem;
			width: 97%;
			@media all and (max-width: 576px) {  
				display: grid;
				align-items: center;
				justify-content: center;
			}
			.member-media {
				justify-content: left;
				margin: 0;
				width: 155px;
				height: 155px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 100px;
				img {
					border-radius: 100px;
					width: 100%;
					height: 155px;
					object-fit: cover;
				}
				@media all and (max-width: 576px) {  
					height: 120px;
					width: 120px;
					display: block;
					margin: 0 auto;
					img {
						height: 120px;
					}
				}
			}
			.member-description {
				margin: 0 2rem;
				text-align: left;
				word-wrap: break-word;
				width: calc(100% - 155px - 4rem);
				@media all and (max-width: 576px) {  
					width: 100%;
					margin: 0 auto;
				}
				.member-name {
					text-transform: none;
				}
				.descricao-colaborador {
					font-size: 1.2rem;
					letter-spacing: 0px;
					margin-top: 10px;
					color: $color-gray-555;
					padding: 0;
				}
			}
			.member-function {
				font-weight: bold;
				margin-top: 0px;
			}
		}
		@media all and (max-width: 1025px) { 
			grid-template-columns: repeat(1, 1fr);
			gap: 0;
		}
	}
	.trigger {
		cursor: pointer;
		font-size: 1.2rem;
		transition: visibility 0s linear 0.33s, opacity 0.33s linear;
		input[type="checkbox"] {
			& + span {
				visibility: hidden;
				display: none;
				opacity:0;
				transition: visibility 0s linear 0.33s, opacity 0.33s linear;
			}
			&:checked + span {
				visibility: visible;
				display: block;
				opacity: 1;
				transition-delay: 0s;
			}
		}
		.checkbox {
			transition: visibility 0s linear 0.33s, opacity 0.33s linear;
			position: relative;
			width: 1rem;
			height: 1rem;
			margin-right: 0.75rem;
			cursor: pointer;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			outline: 0;
			&:before {
				transition: visibility 0s linear 0.33s, opacity 0.33s linear;
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				border: 2px solid $color-green-8a9;
				border-top-style: none;
				border-right-style: none;
				transform: rotate(-45deg);
				margin-top: -1px;
				transition: all 0.3s ease-in-out;
			}
			&:checked {
				transition: visibility 0s linear 0.33s, opacity 0.33s linear;
				&:before {
					transition: visibility 0s linear 0.33s, opacity 0.33s linear;
					transform: rotate(-227deg);
					border: 2px solid $color-green-8a9;
					border-top-style: none;
					border-right-style: none;
					margin-top: 3px;
				}
			}
		}
	}
}