/*
/////////////
////THEMES//
///////////
*/

.clu-the.the-highlight {
	background-color: #ef6000;
	color: white;
}

/*/////////
	//TEXTS//
	/////*/

.clu-the.the-highlight p,
.clu-the.the-highlight li,
.clu-the.the-highlight span,
.clu-the.the-highlight label,
.clu-the.the-highlight input {
	color: #fff;
}

/*//////////
	//HEADERS//
	////////*/

.clu-the.the-highlight caption,
.clu-the.the-highlight dt,
.clu-the.the-highlight h1,
.clu-the.the-highlight h2,
.clu-the.the-highlight h3,
.clu-the.the-highlight h4,
.clu-the.the-highlight h5,
.clu-the.the-highlight h6,
.clu-the.the-highlight legend,
.clu-the.the-highlight th {
	color: #fff;
}

/*
	///////////
	///LINKS//
	/////////
	*/

.clu-the.the-highlight a {
	color: #fff;
}
.clu-the.the-highlight a:hover,
.clu-the.the-highlight a:focus {
	color: #000;
}
.clu-the.the-highlight a.active {
	color: #000;
}

/*
	//////////////
	////BUTTONS//
	////////////
	*/

.clu-the.the-highlight .clu-but {
	background-color: white;
	color: #ef6000;
}
.clu-the.the-highlight .clu-but:hover,
.clu-the.the-highlight .clu-but:focus,
.clu-the.the-highlight a:hover .clu-but,
.clu-the.the-highlight a:focus .clu-but {
	background-color: black;
	color: white;
}
.clu-the.the-highlight .clu-but.but-light {
	background: transparent;
	color: #fff;
}
.clu-the.the-highlight .clu-but.but-light:hover,
.clu-the.the-highlight .clu-but.but-light:focus,
.clu-the.the-highlight a:hover .clu-but.but-light,
.clu-the.the-highlight a:focus .clu-but.but-light {
	background-color: #ef6000;
	border-color: #ef6000;
	color: #000;
}
