/*
/////////////
////THEMES//
///////////
*/

.ica-the.the-highlight {
	background-color:transparent;
	color: $color-white;
}
.ica-the.the-white{
	background-color: $color-background;
}
.ica-the.the-graye8e{
	background-color: $color-gray-e8e;
}
.ica-the.the-green240{
	background-color: $color-green-240;
}
.ica-the.the-green57f{
	background-color: $color-green-57f;
}
.ica-the.the-contrast{
	color: $color-white;
}

/*/////////
	//TEXTS//
	/////*/

.ica-the.the-highlight p,
.ica-the.the-highlight li,
.ica-the.the-highlight label,
.ica-the.the-highlight input {
	color: $color-white;
}
span{
	color: $color-green-8a9;
}

/*//////////
	//HEADERS//
	////////*/

.ica-the.the-highlight caption,
.ica-the.the-highlight dt,
.ica-the.the-highlight h1,
.ica-the.the-highlight h2,
.ica-the.the-highlight h3,
.ica-the.the-highlight h4,
.ica-the.the-highlight h5,
.ica-the.the-highlight h6,
.ica-the.the-highlight legend,
.ica-the.the-highlight th {
	color: $color-white;
}

/*
	///////////
	///LINKS//
	/////////
	*/

.ica-the.the-highlight a {
	color: $color-green-57f;
}
.ica-the.the-highlight a:hover,
.ica-the.the-highlight a:focus {
	color: $color-white;
}
.ica-the.the-highlight a.active {
	color: #000;
}

/*
	//////////////
	////BUTTONS//
	////////////
	*/

.ica-the.the-highlight .ica-but {
	background-color: $color-white;
	color: $color-orange;
}
.ica-the.the-highlight .ica-but:hover,
.ica-the.the-highlight .ica-but:focus,
.ica-the.the-highlight a:hover .ica-but,
.ica-the.the-highlight a:focus .ica-but {
	background-color: black;
	color: $color-white;
}
.ica-the.the-highlight .ica-but.but-light {
	background: transparent;
	color: $color-white;
}
.ica-the.the-highlight .ica-but.but-light:hover,
.ica-the.the-highlight .ica-but.but-light:focus,
.ica-the.the-highlight a:hover .ica-but.but-light,
.ica-the.the-highlight a:focus .ica-but.but-light {
	background-color: $color-green-8a9;
	border-color: $color-green-8a9;
	color: $color-black;
}
