/*
///////////
////GRID//
/////////
*/

/*///////////
	12 COLUMNS//
	/////////*/

.clu-footer,
.clu-local-unidade,
.clu-nav,
.show-menu,
.clu-galery-unidade,
.clu-text-unidade,
.clu-service-unidade,
.clear
{
  display: inline-block;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 97%;
}

/*/ //////////
11 COLUMNS//
    /////////*/

.clear {
  display: inline-block;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 88.66%;
}

/*///////////
    10 COLUMNS//
    /////////*/


.clu-com.com-banner .clu-wrapper, 
.clu-unidades,
.clear {
  display: inline-block;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 80.333%;
}

/*/ /////////
9 COLUMNS//
    ////////*/

.clear {
  display: inline-block;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 72%;
}

/*//////////
    8 COLUMNS//
    ////////*/


.clu-sec.sec-testimony .sec-item .item-content,
.clu-map-unidade,
.clear {
  display: inline-block;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 63.66%;
}

/*/ /////////
7 COLUMNS//
    ////////*/

.clear
 {
  display: inline-block;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 55.333%;
}

/*//////////
    6 COLUMNS//
    ////////*/
.clu-sec.sec-plans .sec-wrapper,
.clu-sec.sec-plans .content-itens,
.clu-sec.sec-localization .sec-item,
.clu-sec.sec-what .sec-content .sec-itens,
.clu-sec.sec-what .sec-content .sec-media,
.clu-local-text,
.clear {
  display: inline-block;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 47%;
}

/*/ /////////
5 COLUMNS//
    ////////*/

#clu-shortcuts,
#clu-navigation, 
.clu-report-item,
.clu-sec.sec-what .sec-header,
.clear {
  display: inline-block;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 38.66%;
}

/*//////////
    4 COLUMNS//
    ////////*/

.clu-sec.sec-testimony .sec-item .item-header, 
.clu-secodary-menu,
.clear {
  display: inline-block;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 30.333%;
}

/*/ /////////
3 COLUMNS//
    ////////*/

#clu-footer .footer-item, 
.clu-sec.sec-reasons .sec-item, 
.clu-sec .sec-item, 
.clu-service-item,
.clu-motivation-item,
.clu-solution-item,
.clear {
  display: inline-block;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 22%;
}

/*//////////
    2 COLUMNS//
    ////////*/

#clu-logo, 
.clear{
  display: inline-block;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 13.66%;
}

/*/////////
    1 COLUMN//
    ///////*/

.clu-home,
.clu-logo,
.clear {
  display: inline-block;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 5.333%;
}

/*/ ////////
0 COLUMN//
    ///////*/


.clu-sec.sec-testimony .sec-item,
.clear {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
